
Header set Connection keep-alive

RewriteEngine on
RewriteBase /
RewriteRule ^\w{32}/email/saveEntry/$ emailSaveEntry.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ https://1601com.premium-admin.eu/$1 [L,P]

